################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/
/.vs/
/Lying_NTP/bin/
/Lying_NTP/obj/
